services:
  app:
    build: ./app
    environment:
      BOT_TOKEN: "${BOT_TOKEN}"
      TG_SECRET: "${TG_SECRET}"
      ADMIN_ID: "${ADMIN_ID}"
      DB_HOST: "${DB_HOST}"
      DB_PORT: "${DB_PORT}"
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_NAME: "${DB_NAME}"
    depends_on:
      - db
    restart: always
    container_name: tg-bot-ex-rate

  db:
    image: mariadb
    environment:
      MARIADB_DATABASE: "${DB_NAME}"
      MARIADB_USER: "${DB_USER}"
      MARIADB_PASSWORD: "${DB_PASSWORD}"
      MARIADB_ROOT_PASSWORD: "rootpassword"
    restart: always
    volumes:
      - mariadb_data:/var/lib/mysql


  nginx:
    image: nginx
    depends_on:
      - app
    ports:
      - "8008:80"
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    container_name: tg-bot-ex-rate-nginx

volumes:
  mariadb_data: